doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/javascripts/canvasjs.min.js")
    script(type="text/javascript", src="/javascripts/graphs.js")
  body
    block content